-- MySQL dump 10.13  Distrib 8.0.33, for Win64 (x86_64)
--
-- Host: localhost    Database: kbarea
-- ------------------------------------------------------
-- Server version	8.0.33

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accessoires`
--

DROP TABLE IF EXISTS `accessoires`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accessoires` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `nombre_disponible` int DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accessoires`
--

LOCK TABLES `accessoires` WRITE;
/*!40000 ALTER TABLE `accessoires` DISABLE KEYS */;
INSERT INTO `accessoires` VALUES (1,'Chaise pliante',100),(2,'Table ronde',30),(3,'Projecteur',10),(4,'Microphone',15),(5,'Tente 4x4m',20),(6,'Sonorisation compl├¿te',5),(7,'Podium',8),(8,'Bouquets',50),(9,'Jeux de boules',25),(10,'Glaci├¿re',15);
/*!40000 ALTER TABLE `accessoires` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accessoires_reservation`
--

DROP TABLE IF EXISTS `accessoires_reservation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accessoires_reservation` (
  `id_reservation` int NOT NULL,
  `reference_reservation` varchar(50) NOT NULL,
  `id_accessoire` int NOT NULL,
  `id_tarif_accessoire` int NOT NULL,
  `quantite` int NOT NULL,
  `debut_utilisation` datetime DEFAULT NULL,
  `fin_utilisation` datetime DEFAULT NULL,
  PRIMARY KEY (`id_reservation`,`reference_reservation`,`id_accessoire`,`id_tarif_accessoire`),
  KEY `id_accessoire` (`id_accessoire`),
  KEY `id_tarif_accessoire` (`id_tarif_accessoire`),
  CONSTRAINT `accessoires_reservation_ibfk_1` FOREIGN KEY (`id_reservation`, `reference_reservation`) REFERENCES `reservations` (`id`, `reference`),
  CONSTRAINT `accessoires_reservation_ibfk_2` FOREIGN KEY (`id_accessoire`) REFERENCES `accessoires` (`id`),
  CONSTRAINT `accessoires_reservation_ibfk_3` FOREIGN KEY (`id_tarif_accessoire`) REFERENCES `tarifs_accessoires` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accessoires_reservation`
--

LOCK TABLES `accessoires_reservation` WRITE;
/*!40000 ALTER TABLE `accessoires_reservation` DISABLE KEYS */;
/*!40000 ALTER TABLE `accessoires_reservation` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trig_maj_cout_total_accessoire` AFTER INSERT ON `accessoires_reservation` FOR EACH ROW BEGIN
   DECLARE prix DECIMAL(15,2);
   DECLARE montant DECIMAL(15,2);

   
   SELECT prix_unitaire INTO prix
   FROM tarifs_accessoires
   WHERE id = NEW.id_tarif_accessoire;

   SET montant = NEW.quantite * prix;

   
   UPDATE reservations
   SET cout_total = IFNULL(cout_total, 0) + montant
   WHERE id = NEW.id_reservation AND reference = NEW.reference_reservation;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clients` (
  `id` int NOT NULL AUTO_INCREMENT,
  `reference` varchar(50) NOT NULL,
  `nom` varchar(50) NOT NULL,
  `representant` varchar(50) NOT NULL,
  `telephone` varchar(50) NOT NULL,
  `email` varchar(50) DEFAULT NULL,
  `adresse` varchar(50) DEFAULT NULL,
  `date_ajout` datetime NOT NULL,
  `id_type_client` int NOT NULL,
  PRIMARY KEY (`id`,`reference`),
  KEY `id_type_client` (`id_type_client`),
  CONSTRAINT `clients_ibfk_1` FOREIGN KEY (`id_type_client`) REFERENCES `type_client` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facture`
--

DROP TABLE IF EXISTS `facture`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facture` (
  `id` int NOT NULL AUTO_INCREMENT,
  `reference` varchar(50) NOT NULL,
  `date_edition` datetime NOT NULL,
  `montant_paye` decimal(15,2) DEFAULT NULL,
  `reste_a_payer` decimal(15,2) DEFAULT NULL,
  `id_type_paiement` int NOT NULL,
  `id_reservation` int NOT NULL,
  `reference_reservation` varchar(50) NOT NULL,
  `id_creer_par` int NOT NULL,
  PRIMARY KEY (`id`,`reference`),
  KEY `id_type_paiement` (`id_type_paiement`),
  KEY `id_reservation` (`id_reservation`,`reference_reservation`),
  KEY `id_creer_par` (`id_creer_par`),
  CONSTRAINT `facture_ibfk_1` FOREIGN KEY (`id_type_paiement`) REFERENCES `type_paiement` (`id`),
  CONSTRAINT `facture_ibfk_2` FOREIGN KEY (`id_reservation`, `reference_reservation`) REFERENCES `reservations` (`id`, `reference`),
  CONSTRAINT `facture_ibfk_3` FOREIGN KEY (`id_creer_par`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facture`
--

LOCK TABLES `facture` WRITE;
/*!40000 ALTER TABLE `facture` DISABLE KEYS */;
INSERT INTO `facture` VALUES (2,'FACT2507_5','2025-07-30 09:46:17',14340000.00,0.00,1,5,'RES005',3),(3,'FACT2508_13','2025-08-11 14:34:44',82500000.00,0.00,1,13,'RES-20250811-0013',3),(5,'FACT2508_3','2025-08-18 10:53:27',600000.00,13503000.00,2,3,'RES003',3),(6,'FACT2508_1','2025-08-18 10:54:47',75000.00,1706250.00,2,1,'RES001',3);
/*!40000 ALTER TABLE `facture` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mode_paiement`
--

DROP TABLE IF EXISTS `mode_paiement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mode_paiement` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mode_paiement`
--

LOCK TABLES `mode_paiement` WRITE;
/*!40000 ALTER TABLE `mode_paiement` DISABLE KEYS */;
INSERT INTO `mode_paiement` VALUES (2,'carte'),(4,'cheque'),(3,'especes'),(1,'virement');
/*!40000 ALTER TABLE `mode_paiement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recus`
--

DROP TABLE IF EXISTS `recus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recus` (
  `id` int NOT NULL AUTO_INCREMENT,
  `reference` varchar(50) NOT NULL,
  `date_edition` datetime NOT NULL,
  `id_mode_paiement` int NOT NULL,
  `reference_paiement` varchar(100) DEFAULT NULL,
  `id_facture` int NOT NULL,
  `reference_facture` varchar(50) NOT NULL,
  `creer_par` int NOT NULL,
  PRIMARY KEY (`id`,`reference`),
  UNIQUE KEY `id_facture` (`id_facture`,`reference_facture`),
  KEY `id_mode_paiement` (`id_mode_paiement`),
  KEY `creer_par` (`creer_par`),
  CONSTRAINT `recus_ibfk_1` FOREIGN KEY (`id_mode_paiement`) REFERENCES `mode_paiement` (`id`),
  CONSTRAINT `recus_ibfk_2` FOREIGN KEY (`id_facture`, `reference_facture`) REFERENCES `facture` (`id`, `reference`) ON DELETE CASCADE,
  CONSTRAINT `recus_ibfk_3` FOREIGN KEY (`creer_par`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recus`
--

LOCK TABLES `recus` WRITE;
/*!40000 ALTER TABLE `recus` DISABLE KEYS */;
INSERT INTO `recus` VALUES (2,'RECU-6889EB44C264E','2025-07-30 09:52:04',4,NULL,2,'FACT2507_5',4),(3,'RECU-6899FF9F5ADDA','2025-08-11 14:35:11',4,NULL,3,'FACT2508_13',4),(4,'RECU-68A30BFCB16D8','2025-08-18 11:18:20',4,'033322666',6,'FACT2508_1',4);
/*!40000 ALTER TABLE `recus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reductions`
--

DROP TABLE IF EXISTS `reductions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reductions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `motif` varchar(50) DEFAULT NULL,
  `valeur` decimal(5,2) DEFAULT NULL,
  `id_reservation` int NOT NULL,
  `reference_reservation` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_reservation` (`id_reservation`,`reference_reservation`),
  CONSTRAINT `reductions_ibfk_1` FOREIGN KEY (`id_reservation`, `reference_reservation`) REFERENCES `reservations` (`id`, `reference`),
  CONSTRAINT `chk_valeur_reduction` CHECK (((`valeur` >= 0) and (`valeur` <= 100)))
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reductions`
--

LOCK TABLES `reductions` WRITE;
/*!40000 ALTER TABLE `reductions` DISABLE KEYS */;
INSERT INTO `reductions` VALUES (6,'Remise fid├®lit├®',10.00,2,'RES002'),(7,'Remise sp├®ciale',5.00,4,'RES004'),(8,'Remise association',15.00,6,'RES006'),(9,'Remise membre club',20.00,8,'RES008'),(10,'Remise Connaissance',10.00,5,'RES005'),(11,'Remise Connaissance',5.00,8,'RES008'),(12,'Remise Connaissance',20.00,13,'RES-20250811-0013'),(13,'test',10.00,3,'RES003'),(14,'test',5.00,1,'RES001');
/*!40000 ALTER TABLE `reductions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservations`
--

DROP TABLE IF EXISTS `reservations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `reference` varchar(50) NOT NULL,
  `description` text NOT NULL,
  `date_premier_jour` date NOT NULL,
  `date_dernier_jour` date NOT NULL,
  `date_creation` datetime DEFAULT CURRENT_TIMESTAMP,
  `cout_total` decimal(15,2) DEFAULT NULL,
  `id_creer_par` int NOT NULL,
  `id_client` int NOT NULL,
  `reference_client` varchar(50) NOT NULL,
  PRIMARY KEY (`id`,`reference`),
  KEY `id_creer_par` (`id_creer_par`),
  KEY `id_client` (`id_client`,`reference_client`),
  CONSTRAINT `reservations_ibfk_1` FOREIGN KEY (`id_creer_par`) REFERENCES `utilisateur` (`id`),
  CONSTRAINT `reservations_ibfk_2` FOREIGN KEY (`id_client`, `reference_client`) REFERENCES `clients` (`id`, `reference`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservations`
--

LOCK TABLES `reservations` WRITE;
/*!40000 ALTER TABLE `reservations` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ressources`
--

DROP TABLE IF EXISTS `ressources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ressources` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `caution` decimal(15,2) DEFAULT NULL,
  `capacite` int DEFAULT NULL,
  `id_type_ressource` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`),
  KEY `id_type_ressource` (`id_type_ressource`),
  CONSTRAINT `ressources_ibfk_1` FOREIGN KEY (`id_type_ressource`) REFERENCES `type_ressource` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ressources`
--

LOCK TABLES `ressources` WRITE;
/*!40000 ALTER TABLE `ressources` DISABLE KEYS */;
/*!40000 ALTER TABLE `ressources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ressources_reservation`
--

DROP TABLE IF EXISTS `ressources_reservation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ressources_reservation` (
  `id_reservation` int NOT NULL,
  `reference_reservation` varchar(50) NOT NULL,
  `id_tarif_ressource` int NOT NULL,
  `id_ressource` int NOT NULL,
  `quantite` decimal(15,2) NOT NULL,
  `debut_utilisation` datetime DEFAULT NULL,
  `fin_utilisation` datetime DEFAULT NULL,
  PRIMARY KEY (`id_reservation`,`reference_reservation`,`id_tarif_ressource`,`id_ressource`),
  KEY `id_tarif_ressource` (`id_tarif_ressource`),
  KEY `id_ressource` (`id_ressource`),
  CONSTRAINT `ressources_reservation_ibfk_1` FOREIGN KEY (`id_reservation`, `reference_reservation`) REFERENCES `reservations` (`id`, `reference`),
  CONSTRAINT `ressources_reservation_ibfk_2` FOREIGN KEY (`id_tarif_ressource`) REFERENCES `tarifs_ressources` (`id`),
  CONSTRAINT `ressources_reservation_ibfk_3` FOREIGN KEY (`id_ressource`) REFERENCES `ressources` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ressources_reservation`
--

LOCK TABLES `ressources_reservation` WRITE;
/*!40000 ALTER TABLE `ressources_reservation` DISABLE KEYS */;
/*!40000 ALTER TABLE `ressources_reservation` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trig_maj_cout_total_ressource` AFTER INSERT ON `ressources_reservation` FOR EACH ROW BEGIN
   DECLARE prix DECIMAL(15,2);
   DECLARE montant DECIMAL(15,2);

   
   SELECT prix_unitaire INTO prix
   FROM tarifs_ressources
   WHERE id = NEW.id_tarif_ressource;

   SET montant = NEW.quantite * prix;

   
   UPDATE reservations
   SET cout_total = IFNULL(cout_total, 0) + montant
   WHERE id = NEW.id_reservation AND reference = NEW.reference_reservation;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `role_utilisateur`
--

DROP TABLE IF EXISTS `role_utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_utilisateur` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_utilisateur`
--

LOCK TABLES `role_utilisateur` WRITE;
/*!40000 ALTER TABLE `role_utilisateur` DISABLE KEYS */;
INSERT INTO `role_utilisateur` VALUES (1,'commercial'),(2,'dg'),(3,'admin'),(4,'caisse');
/*!40000 ALTER TABLE `role_utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tarifs_accessoires`
--

DROP TABLE IF EXISTS `tarifs_accessoires`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tarifs_accessoires` (
  `id` int NOT NULL AUTO_INCREMENT,
  `prix_unitaire` decimal(15,2) NOT NULL,
  `date_saisie` datetime NOT NULL,
  `id_unite_tarif` int NOT NULL,
  `id_accessoire` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_unite_tarif` (`id_unite_tarif`),
  KEY `id_accessoire` (`id_accessoire`),
  CONSTRAINT `tarifs_accessoires_ibfk_1` FOREIGN KEY (`id_unite_tarif`) REFERENCES `unite_tarif` (`id`),
  CONSTRAINT `tarifs_accessoires_ibfk_2` FOREIGN KEY (`id_accessoire`) REFERENCES `accessoires` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tarifs_accessoires`
--

LOCK TABLES `tarifs_accessoires` WRITE;
/*!40000 ALTER TABLE `tarifs_accessoires` DISABLE KEYS */;
INSERT INTO `tarifs_accessoires` VALUES (1,5000.00,'2025-07-30 09:10:10',3,1),(2,15000.00,'2025-07-30 09:10:10',3,2),(3,20000.00,'2025-07-30 09:10:10',1,3),(4,10000.00,'2025-07-30 09:10:10',1,4),(5,30000.00,'2025-07-30 09:10:10',3,5),(6,50000.00,'2025-07-30 09:10:10',3,6),(7,25000.00,'2025-07-30 09:10:10',3,7),(8,2000.00,'2025-07-30 09:10:10',1,8),(9,10000.00,'2025-07-30 09:10:10',3,9),(10,8000.00,'2025-07-30 09:10:10',3,10);
/*!40000 ALTER TABLE `tarifs_accessoires` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tarifs_ressources`
--

DROP TABLE IF EXISTS `tarifs_ressources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tarifs_ressources` (
  `id` int NOT NULL AUTO_INCREMENT,
  `prix_unitaire` decimal(15,2) NOT NULL,
  `date_saisie` datetime DEFAULT NULL,
  `id_unite_tarif` int NOT NULL,
  `id_ressource` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_unite_tarif` (`id_unite_tarif`),
  KEY `id_ressource` (`id_ressource`),
  CONSTRAINT `tarifs_ressources_ibfk_1` FOREIGN KEY (`id_unite_tarif`) REFERENCES `unite_tarif` (`id`),
  CONSTRAINT `tarifs_ressources_ibfk_2` FOREIGN KEY (`id_ressource`) REFERENCES `ressources` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tarifs_ressources`
--

LOCK TABLES `tarifs_ressources` WRITE;
/*!40000 ALTER TABLE `tarifs_ressources` DISABLE KEYS */;
/*!40000 ALTER TABLE `tarifs_ressources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_client`
--

DROP TABLE IF EXISTS `type_client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `type_client` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_client`
--

LOCK TABLES `type_client` WRITE;
/*!40000 ALTER TABLE `type_client` DISABLE KEYS */;
INSERT INTO `type_client` VALUES (4,'administration'),(2,'association'),(1,'entreprise'),(3,'particulier');
/*!40000 ALTER TABLE `type_client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_paiement`
--

DROP TABLE IF EXISTS `type_paiement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `type_paiement` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_paiement`
--

LOCK TABLES `type_paiement` WRITE;
/*!40000 ALTER TABLE `type_paiement` DISABLE KEYS */;
INSERT INTO `type_paiement` VALUES (2,'acompte'),(3,'reste'),(1,'totalite');
/*!40000 ALTER TABLE `type_paiement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_ressource`
--

DROP TABLE IF EXISTS `type_ressource`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `type_ressource` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `description` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_ressource`
--

LOCK TABLES `type_ressource` WRITE;
/*!40000 ALTER TABLE `type_ressource` DISABLE KEYS */;
INSERT INTO `type_ressource` VALUES (1,'├ëv├®nement sur le parvis','├ëv├®nements ext├®rieurs sur le parvis'),(2,'Esplanade & Hall','Espaces Esplanade et Hall'),(3,'Infrastructures sportives','Terrains et installations sportives'),(4,'Locaux & Salles','Salles de r├®union, conf├®rence, bureaux'),(5,'Parking','Espaces de parking'),(6,'Jardin & Piste','Jardin ou piste de d├®fil├®');
/*!40000 ALTER TABLE `type_ressource` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unite_tarif`
--

DROP TABLE IF EXISTS `unite_tarif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unite_tarif` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unite_tarif`
--

LOCK TABLES `unite_tarif` WRITE;
/*!40000 ALTER TABLE `unite_tarif` DISABLE KEYS */;
INSERT INTO `unite_tarif` VALUES (2,'demi-journee'),(1,'heure'),(3,'jour'),(5,'mois'),(4,'nuit'),(6,'par stand'),(7,'pers');
/*!40000 ALTER TABLE `unite_tarif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom_utilisateur` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `token` varchar(50) DEFAULT NULL,
  `id_role` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom_utilisateur` (`nom_utilisateur`),
  UNIQUE KEY `token` (`token`),
  KEY `id_role` (`id_role`),
  CONSTRAINT `utilisateur_ibfk_1` FOREIGN KEY (`id_role`) REFERENCES `role_utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
INSERT INTO `utilisateur` VALUES (1,'admin','$2y$10$/kzRM/xCgTvzcUI7O5nB0u/smBTTD5mmOT3JmoU1.GZvyjyxAbQy6','token_admin',3),(2,'dg','$2y$10$41ge.yZZe7TySkTBFWEg5OqsksvGmhvI3bFLarkFzp/hYMar0xI8S','token_dg',2),(3,'commercial','$2y$10$k79jitHI0SUFgf6tAVpTdeYcPboVd9J4ZENfH/9kvxAQ9hIEMVz5.','token_com',1),(4,'caisse','$2y$10$nvkJyNshRAYikjUsbAIMOOAGvvPGPbjU7xFBNakpmnWkNo4Mf6fSK','token_caisse',4),(5,'commercial2','$2y$10$k79jitHI0SUFgf6tAVpTdeYcPboVd9J4ZENfH/9kvxAQ9hIEMVz5.','token_com2',1);
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vue_chiffre_affaire_mensuel`
--

DROP TABLE IF EXISTS `vue_chiffre_affaire_mensuel`;
/*!50001 DROP VIEW IF EXISTS `vue_chiffre_affaire_mensuel`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_chiffre_affaire_mensuel` AS SELECT 
 1 AS `annee`,
 1 AS `mois`,
 1 AS `chiffre_affaire`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_etat_paiement`
--

DROP TABLE IF EXISTS `vue_etat_paiement`;
/*!50001 DROP VIEW IF EXISTS `vue_etat_paiement`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_etat_paiement` AS SELECT 
 1 AS `id`,
 1 AS `reference`,
 1 AS `cout_total`,
 1 AS `total_paye`,
 1 AS `reste_a_payer`,
 1 AS `etat_paiement`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_repartition_mensuelle_reservations`
--

DROP TABLE IF EXISTS `vue_repartition_mensuelle_reservations`;
/*!50001 DROP VIEW IF EXISTS `vue_repartition_mensuelle_reservations`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_repartition_mensuelle_reservations` AS SELECT 
 1 AS `annee`,
 1 AS `mois`,
 1 AS `nombre_reservations`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vue_reservations_statut_paiement`
--

DROP TABLE IF EXISTS `vue_reservations_statut_paiement`;
/*!50001 DROP VIEW IF EXISTS `vue_reservations_statut_paiement`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vue_reservations_statut_paiement` AS SELECT 
 1 AS `reservation_id`,
 1 AS `reservation_reference`,
 1 AS `statut_paiement`,
 1 AS `date_confirmation`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vue_chiffre_affaire_mensuel`
--

/*!50001 DROP VIEW IF EXISTS `vue_chiffre_affaire_mensuel`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_chiffre_affaire_mensuel` AS select year(`r`.`date_edition`) AS `annee`,month(`r`.`date_edition`) AS `mois`,sum(`f`.`montant_paye`) AS `chiffre_affaire` from (`recus` `r` join `facture` `f` on(((`f`.`id` = `r`.`id_facture`) and (`f`.`reference` = `r`.`reference_facture`)))) group by year(`r`.`date_edition`),month(`r`.`date_edition`) order by `annee`,`mois` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_etat_paiement`
--

/*!50001 DROP VIEW IF EXISTS `vue_etat_paiement`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_etat_paiement` AS select `r`.`id` AS `id`,`r`.`reference` AS `reference`,`r`.`cout_total` AS `cout_total`,`f`.`total_paye` AS `total_paye`,`f`.`reste_a_payer` AS `reste_a_payer`,(case when ((`f`.`nb_recu` > 0) and (`f`.`reste_a_payer` = 0)) then 'Payé' when ((`f`.`nb_recu` > 0) and (`f`.`reste_a_payer` > 0)) then 'Acompte' when ((`f`.`nb_recu` = 0) or (`f`.`nb_recu` is null)) then 'Non payé' else 'Inconnu' end) AS `etat_paiement` from (`reservations` `r` left join (select `fac`.`id_reservation` AS `id_reservation`,`fac`.`reference_reservation` AS `reference_reservation`,sum(coalesce(`fac`.`montant_paye`,0)) AS `total_paye`,sum(coalesce(`fac`.`reste_a_payer`,0)) AS `reste_a_payer`,count(distinct `rec`.`id`) AS `nb_recu` from (`facture` `fac` left join `recus` `rec` on(((`rec`.`id_facture` = `fac`.`id`) and (`rec`.`reference_facture` = `fac`.`reference`)))) group by `fac`.`id_reservation`,`fac`.`reference_reservation`) `f` on(((`r`.`id` = `f`.`id_reservation`) and (`r`.`reference` = `f`.`reference_reservation`)))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_repartition_mensuelle_reservations`
--

/*!50001 DROP VIEW IF EXISTS `vue_repartition_mensuelle_reservations`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_repartition_mensuelle_reservations` AS select year(`reservations`.`date_premier_jour`) AS `annee`,lpad(month(`reservations`.`date_premier_jour`),2,'0') AS `mois`,count(0) AS `nombre_reservations` from `reservations` group by year(`reservations`.`date_premier_jour`),lpad(month(`reservations`.`date_premier_jour`),2,'0') order by `annee`,`mois` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_reservations_statut_paiement`
--

/*!50001 DROP VIEW IF EXISTS `vue_reservations_statut_paiement`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_reservations_statut_paiement` AS select `r`.`id` AS `reservation_id`,`r`.`reference` AS `reservation_reference`,(case when (`rc`.`id` is not null) then 'confirmée' else 'en attente' end) AS `statut_paiement`,(case when (`rc`.`id` is not null) then `rc`.`date_edition` else NULL end) AS `date_confirmation` from (((((`reservations` `r` join `clients` `c` on(((`r`.`id_client` = `c`.`id`) and (`r`.`reference_client` = `c`.`reference`)))) left join `facture` `f` on(((`f`.`id_reservation` = `r`.`id`) and (`f`.`reference_reservation` = `r`.`reference`)))) left join `recus` `rc` on(((`rc`.`id_facture` = `f`.`id`) and (`rc`.`reference_facture` = `f`.`reference`)))) left join `type_paiement` `tp` on((`f`.`id_type_paiement` = `tp`.`id`))) left join `mode_paiement` `mp` on((`rc`.`id_mode_paiement` = `mp`.`id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-18 14:50:12
